:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --gray-blue: hsl(218, 22%, 67%);
}

/* DISPLAY GRID */
/* // Torna o elemento um grid container. */

/* GRID-TEMPLATES-AREAS */
/* No CSS, a grid-template-areaspropriedade define uma grade com diferentes áreas de grade . Em seu valor, uma string representa uma linha de grade e cada nome válido dentro de uma string representa uma coluna . Para criar uma célula de grade vazia, você precisa usar o caractere ponto ( .) em uma string de linha.

Os nomes das áreas de grade devem ser referenciados pela grid-areapropriedade dos itens de grade individuais. */

.CardPrice {
  width: 615px;
  /* // Torna o elemento um grid container. */
  display: grid;
  height: auto;
  /* SOMBRA NO CARD TOTAL */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* propriedade permite que você desenhe uma representação visual da grade diretamente em seu CSS */
  grid-template-areas: "top top" "left right";
}

.CardPrice__first {
  max-width: 615px;
  /* especifica o tamanho e a localização de um item de grade em um layout de grade */
  grid-area: top;
  padding: 20px 30px 20px 40px;
  border-radius: 10px 10px 0 0;
  background-color: white;
}

.CardPrice__first__title {
  margin-bottom: 16px;
  margin-top: 12px;
}

.CardPrice__first__sub {
  margin-bottom: 12px;
}

.CardPrice__first__text {
  margin-bottom: 4px;
  line-height: 24px;
}

.CardPrice__second {
  grid-area: left;
  padding: 20px 35px 20px 40px;
  background-color: var(--cyan);
  border-bottom-left-radius: 10px;
}

.CardPrice__second__monthly {
  line-height: 18px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.CardPrice__second__month {
  margin-bottom: 20px;
  margin-left: 55px;
  margin-top: -22px;
  opacity: 0.3;
  align-items: center;
}

.CardPrice__second__full {
  margin-bottom: 17px;
}

.CardPrice__third {
  padding: 20px 77px 20px 20px;
  background-color: #4abebd;
  grid-area: right;
  border-bottom-right-radius: 10px;
}

.CardPrice__third__why {
  margin: 24px 24px;
  /* align-items: center; */
}
.CardPrice__third__text {
  line-height: 18px;
  list-style: none;
  margin: 0 0 0 24px;
}

@media (max-width: 550px) {
  .CardPrice {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
  }

  .CardPrice__first {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 0;
  }

  .CardPrice__second {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 0;
  }

  .CardPrice__third {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 0;
  }
}
